@import "tailwindcss";

@config "../tailwind.config.js";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/80 backdrop-blur-lg border border-gray-200 shadow-sm;
  }
}